/* Reset de configurações padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%; /* Garantir que o corpo ocupe 100% da largura */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Estilo da navbar */
.custom-navbar {
    background-color: #488B9B;
}

.nav-bar-logo {
    margin-right: 20px;
    width: 250px;
    height: auto;
    max-width: 100%;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    position: relative;
    min-height: 50px;
    z-index: 10; 
}

.navbar-nav a {
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border-bottom 0.3s ease;
    position: relative;
    font-family: "Campton SemiBold", sans-serif; /* Fonte personalizada */
    font-size: 16px; /* Ajuste do tamanho da fonte */
}

.navbar-nav a:hover {
    background-color: #00374B;
    color: #EAD392; /* Cor do texto no hover */
}

/* Efeito de "vazamento" do item selecionado */
.navbar-nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #EAD392; /* Cor da linha de seleção */
    transition: width 0.3s ease;
}

.navbar-nav a:hover::after {
    width: 100%;
}

/* Formatação das imagens do carrossel */
.img-hover {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.nav-item {
    width: 150px;
    height: 85px;
}

.img-hover img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.img-hover:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

/* Estilo do título */
.font-weight-light {
    display: flex;
    font-family: "Campton SemiBold", sans-serif;
    font-size: 29px; /* Tamanho da fonte no carrossel */
    color: #00374B;
}

/* Botões personalizados */
.btn-custom {
    background-color: #00374B;
    border-color: #00374B;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: "Gadugi", sans-serif; /* Fonte personalizada */
    font-size: 16px; /* Ajuste do tamanho da fonte */
}

.btn-custom:hover {
    background-color: #488B9B;
    border-color: #488B9B;
    transform: scale(1.05);
    color: #EAD392;
}

/* Estilo do card */
.card {
    background-color: #488B9B;
    color: #000;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
    background-color: #488B9B;
    border-color: #00374B;
    padding: 20px;
}

.card-title {
    color: aliceblue;
    font-size: 1.5em;
    margin-bottom: 10px;
}


.card-title:hover{
    color: #EAD392;
}


.card-text {
    color: aliceblue;
    font-size: 0.95em; 
    line-height: 1.6;
}

main {
    flex-grow: 1; 
}


/* CARROSSEL */

.carousel-inner {
    position: relative;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators button {
    width: 30px; /* Ajuste a largura do botão */
    height: 6px; /* Ajuste a altura para formar um traço reto */
    border-radius: 0; /* Retira o arredondamento, tornando o botão reto */
    background-color: rgba(0, 55, 75, 0.6); /* Fundo transparente com cor escura para melhor visibilidade */
    border: none; /* Remove a borda */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.carousel-indicators button.active {
    background-color: #EAD392; /* Cor do botão ativo */
}

.carousel-indicators button:hover {
    transform: scale(1.2);
    background-color: rgba(0, 55, 75, 0.8); /* Fundo mais opaco no hover */
}

.carousel-indicators button::before {
    content: ''; /* Adiciona um "fundo" antes do botão */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00374B; /* Cor de fundo dos botões */
    border-radius: 4px; /* Arredonda levemente os cantos */
    z-index: -1; /* Coloca o fundo atrás do botão */
}

/* Ajuste do layout do texto dentro do carrossel */
.carousel-inner h1 {
    font-family: "Campton SemiBold", sans-serif;
    color: #00374B;
    font-size: 29px;
}

.carousel-inner p {
    font-family: "Gadugi", sans-serif;
    font-size: 18px; /* Tamanho de fonte reduzido */
    color: #00374B;
    line-height: 1.6;
}

/* Botão do carrossel */
.carousel-inner .btn-custom {
    margin-top: 15px;
}

.row {
    padding-top: 2.5px;
    padding-bottom: 5px;
}

/* Estilos do footer */
.bg-footer {
    background-color: #488B9B /* cor de fundo personalizada */
}

.footer p {
    color: #ffffff; /* cor do texto */
}

.footer a {
    color: #ffffff; /* cor do link */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline; /* efeito de hover para links */
}

.info-div {
    margin-top: 20px; /* ou qualquer outro estilo que deseje */
    padding: 10px;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
  }

  /* Centralizar os itens do menu no modo mobile */
@media (max-width: 768px) {
    .navbar-nav {
      text-align: center;
      justify-content: center;
      width: 100%;
    }
  
    .navbar-collapse {
      justify-content: center;
    }
  
    .nav-item {
      margin: 0.5rem 0; /* Espaçamento entre os itens no mobile */
    }
  }
  